.margensuperior{
    margin-top: 40px;
}
.margeninferior{
    margin-bottom: 60px;
}
.margenizq{
    margin-left: 100px;
}
.margendere{
    margin-right: 100px;
}
.capa{
    width: 100px;
    height: 100px;
    border: solid black 1px;
    box-sizing: border-box;
    float: left;
    overflow: auto;
}
.capacentradaflotante{
    float: left;
    margin:auto;
    width: 20%;
    height: 300px;
    border: solid black 1px;
}
.capacontenedora{
    width: 100%;
    display: flow-root;/*Crear-fix moderno
        que se utiliza para cabar con los
        problemas derivados de los flotantes*/
}
.capaflotardere{
    float: right;
    margin:auto;
    width: 20%;
    height: 300px;
    border: solid black 1px;
}