.flotardere{
    float: right;
}
.capacentrada{
    /*Centrado de elementos de bloque*/
    width: 70%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    
}
.centradoelementoinline{
    /*De forma cutre text-align*/
    text-align: center;
}

.contenedor{
    width: 80%;
    min-height: 300px;
    border: solid 1px black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.alineardereposition{
    position: absolute;
    right: 0;
    top: 0;
}
.alinearderefloat{
    float: right;
}

ol{
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
ol li{
    padding: 30px 10px;/*Arriba y abajo=30px*/
    border: solid black 1px;
    display: inline;

}
.centradoverticalhorizontal{
    height: 200px;
    line-height: 200px;
    border: solid black 1px;
    text-align: center;
    
}
.centradoverticalhorizontal p{
    line-height: 1.5;/*Con establecer un alto 
    de linea ya estaria centrado.
    Solo funciona con una linea*/
    display: inline-block;
    vertical-align: middle;
}
.contenedortransform{
    height: 300px;
    position: relative;
    border: 1px black solid;

}
.contenedortransform p{
    /*Incompatible con IE8 y anteriores*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*Desplaza en eje x
    y en el eje y*/
    -ms-transform: translate(-50%, -50%);

}

.opacidad{
    /*Establece la opacidad de u elemento y disminuye su transparencia*/
    opacity: 0.5;
    filter: alpha(opacity=50);/*Para IE8 y anteriores*/
}
.opacidadimg{
    opacity: 0.5;
    filter: alpha(opacity=50);/*Para IE8 y anteriores*/
    width: 100%;
}
.contenedorimagen{
    position: relative;
}
.textocentrado{
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
}
